:root{
    --color-font:#413e3e;
    --color-cabecalho:rgb(84, 125, 230);
    --color-cabecalho-dark: rgb(84, 100, 246);;
    --color-aside-dark: rgb(76, 78, 78);
    --color-aside-font:white;
    --color-background-titulo: #ecf0f5;
}

*{
    margin:0;
    color: var(--color-font);
    font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    outline: 0;
}


.grid-container{
    display:grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 7% 93%;
    background-color: white;
    height: 50em;
    
}

/*Cabeçalho*/
.grid-container header{
    grid-column: 1 / span 2;    
}

.grid-cabecalho{
    display:grid;
    grid-template-columns: 15% 100%;
    
}

.grid-cabecalho .logo{
    text-align: center;
    background-color:var(--color-cabecalho-dark);
    padding: .8em;
}

.grid-cabecalho .barra-titulo{
    display:grid;
    grid-template-columns: 75% 25%;
    background-color:var(--color-cabecalho);
    padding: .8em;
}


#icone{
    max-height: 1em;
    margin-bottom: .3em;
}

#icone > div{
    background-color:white;
    height: .15em;
    width: 1.5em;
    margin: .3em;    
}

.barra-titulo img{
    width: 1.6em;
    right: 1.6em;
    border-radius: 50%;
}

.barra-titulo .nome{
    color: var(--color-aside-font);
    position: absolute;
    margin-left: .5em;
    top: 1em;
}

/*barra lateral*/
aside{
    background-color: var(--color-aside-dark);   

}

aside .logo{
    display: grid;
    
    grid-template-columns:30% 70%;
    height: 3em;
    padding-left: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

aside img{
    width: 3em;
    right: 3em;
    border-radius: 50%;
}

aside .menu{
    margin-top: 2em;
    height: 3em;
    color: green;
    background-color: black;
    padding: 1em;
    font-weight: bold;
}

aside .usuarios{
    height: 2em;
    color: var(--color-aside-font);
    padding: 1em;
}

aside .nome, .online, small{
    color:var(--color-aside-font);
}



/*Conteudo principal*/
.grid-principal{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(10, auto);
    margin-top: 0.4em;

}

.grid-principal .titulo{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: var(--color-background-titulo);
}

.titulo .direita{
    margin-right: 3em;
    margin-top: 1em;
    text-align: right;
    font-size: 0.9em;
}

.direita small{
    color: var(--color-font);
}

.direita img{
    width: 1em;
    height: 1em;
}

.titulo .esquerda{
    margin-left: 1em;
    margin-top: 1em;
}

.esquerda span{
    font-size: 1.5em;
    color:black;
}
.esquerda small{
    color: var(--color-font);
}

.grid-principal aside{
    background-color: azure;
}



.grid-usuarios{
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(16,auto);
   
}

.grid-usuarios .lista-usuarios{
    grid-column: 1 / span 6;
    padding-left: .8em;
    font-size: 1.2em;   
}

.grid-usuarios > div{
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: .8em;
}

.grid-usuarios .tit{
    font-weight: bold;
}

.grid-usuarios img{
    width:2em;
    height:2em;
    border-radius: .3em;
}

.grid-usuarios .acoes .editar{
    background-color: blue;
    color:white;
    padding: .1em .4em;
    border-radius: .3em;
}
.grid-usuarios .acoes .excluir{
    background-color: red;
    color:white;
    padding: .1em .4em;
    border-radius: .3em;
}
/* Novos usuarios*/
.novos-usuarios{
    display:grid;
    grid-template-columns: 50% 50%;
    
}

.novos-usuarios > div{
    height: 7em;
    margin: 0 .4em;
    margin-bottom: 1em;
    border-radius: .3em;
}

.novos-usuarios .num{
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

.novos-usuarios .num1{
    color: white;

}

.novos-usuarios .user{
    background-color: rgb(33, 180, 33);
    padding: 1em;
    padding-top: 1.5em;
}

.novos-usuarios .admin{
    background-color: rgba(245, 162, 9, 0.876);
    padding: 1em;
    padding-top: 1.5em;
}


/*Formulários*/
.formulario h3{
   margin: .8em;
   border-radius: .3em;
    font-size: 1.5em;
    text-shadow: 1px 1px #888888;
  
    
}

form{
    display:grid;
    margin-left: .8em;
    gap: .4em;
    background-color: var(--color-background-titulo);
}

form input, form label, form button, form select{
    border-radius: .3em;
   
}


form input, form select{
    font-size: .8em;
    height: 2em;
    padding: 0;
    border: .5px solid #dacccc;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

.genero, #admin{
    margin-left: 2em;
    font-size: .3em;
}


form button{
    border: none;
    background-color: red;
    height: 2.5em;
    color:white;
}





